.cover {
    background-color: rgba(250, 243, 234, 1);
    width: 1440px;
    height: 154.65px;
    top: 47.35px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }