.container-contant {
    max-width: 900px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .header h1 {
    margin-bottom: 10px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;

  }
  
  .header p {
    font-size: 14px;
    color: rgba(159, 159, 159, 1);
    ;
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;

  }
  
  .contact-info, .contact-form {
    display: inline-block;
    vertical-align: top;
  }
  
  .contact-info {
    width: 40%;
    padding-right: 20px;
  }
  
  .contact-info FontAwesomeIcon {
    font-size: 20px;
    color: #000;
    margin-right: 10px;
  }
  
  .contact-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
text-align: center;

  }
  
  .contact-info p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .contact-form {
    width: 55%;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;

  }
  
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(159, 159, 159, 1);
    color: rgba(159, 159, 159, 1);
    
    border-radius: 5px;
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

  }
  
  .contact-form button {
    background-color:  rgba(184, 142, 47, 1);    
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    width: 237px;
height: 55px;
top: 1442px;
gap: 0px;
opacity: 0px;

  }
  
  .contact-form button:hover {
    background-color: #a07a4d;
  }